aiohttp~=3.8.3
cachetools~=5.2.0
disnake @ git+https://github.com/DisnakeDev/disnake
emoji~=1.7.0
inflect~=5.6.0
motor~=3.0.0
pydantic~=1.9.1
pymongo~=4.1.1
python-dotenv~=0.21.0
rapidfuzz~=2.0.11
requests~=2.28.1
